body {
  text-align: center;
  padding-bottom: 50px;
  margin-top: 50px;
  background: black;
}
h1 {
  color: #fdca00;
}
#movies {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
table {
    width:80%;
    border-collapse: collapse;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border-spacing: 0;


}
table, th, td {
    border: 2px solid #fdca00;
    border-collapse: collapse;
    color: white;
}
th, td {
    padding: 5px;
    text-align: center;
    color: white;

}
.hidden {
  display: none;
}
img {
  padding-right: 100px;
}
#movieCol {
  text-align: left;
  padding-left: 50px;
}
.form-control {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
@media screen and (max-width: 768px) {
  #movies {
    width: 95%;
  }
  img {
    padding-right: 50px;
  }
}
@media screen and (max-width: 425px) {
  .form-control {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3px;
  }
}
@media screen and (max-width: 375px) {
  img {
    padding-right: 0;
  }
  #movieCol {
    padding-left: 28px;
  }
  #movies {
    margin-top: 0px;
  }
}
@media screen and (max-width: 320px) {
  #movieCol {
    padding-left: 10px;
  }
  #movies {
    margin-top: 0px;
  }
}
